@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

:root {
  --primary-color: #3685fb;
  --primary-color-dark: #2f73d9;
  --secondary-color: #fafcff;
  --text-dark: #0d213f;
  --text-light: #767268;
  --extra-light: #ffffff;
  --max-width: 1200px;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

b {
  font-weight: 600;
  color: tomato;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.section__title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  margin-top: 60px;
  margin-bottom: 1rem;
}

.section__subtitle {
  font-size: 1rem;
  color: var(--text-dark);
  max-width: calc(var(--max-width) / 2);
}

.btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--extra-light);
  background-color: var(--primary-color);
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  padding: 1rem;
  position: fixed; 
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  border-radius: 10px;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--extra-light);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  z-index: 1000; 
  transition: background-color 0.3s, box-shadow 0.3s;
}

.scrolled {
  background-color: var(--secondary-color); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.nav__logo {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
  cursor: pointer;
}

.nav__logo span {
  color: var(--primary-color);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav__links .link {
  margin: 0 15px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background-color: #333;
  transition: 0.3s;
}

@media (max-width: 768px) {
  nav {
    margin-top: 20px;
  }

  .nav__links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 20px;
    box-shadow: 0 4px 2px -2px gray;
  }

  .hamburger {
    display: flex;
  }

  .nav__links.show {
    display: flex;
  }
}

nav .nav__logo img {
  width: 60px;
  height: 60px;
}

.link a {
  padding: 0 1rem;
  color: var(--text-dark);
  transition: 0.3s;
  position: relative; 
}

.link a:hover,
.link a.active {
  color: var(--primary-color);
}

.link a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; 
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s;
}


.link a:hover {
  color: var(--primary-color);
}

header {
  background-color: var(--secondary-color);
}

.header__container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.header__image {
  position: relative;
}

.header__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 0.5rem solid var(--extra-light);
  border-radius: 2rem;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.header__image img:nth-child(1) {
  max-width: 350px;
  transform: translate(-75%, -50%);
}

.header__image img:nth-child(2) {
  max-width: 250px;
  height: 50vh;
  transform: translate(0%, -25%);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__content > div {
  max-width: 400px;
  display: grid;
  gap: 1rem;
}

.header__content .sub__header {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
}

.header__content h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 800;
  color: var(--text-dark);
}

.header__content .action__btns {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

.story {
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.video__image {
  position: relative;
}

.video__image img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.video__image span {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.video__image span i {
  padding: 0.5rem;
  font-size: 1rem;
  color: red;
  background-color: var(--extra-light);
  border-radius: 100%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.story > span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
}

.destination__nav {
  display: flex;
  gap: 1rem;
}

.destination__nav span {
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 100%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.destination__nav span:hover {
  color: var(--extra-light);
  background-color: var(--primary-color);
}

.destination__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.destination__card {
  overflow: hidden;
  position: relative;
  isolation: isolate;
  cursor: pointer;
}

.destination__card img {
  border-radius: 1rem;
  height: 50vh;
}

.destination__details {
  position: absolute;
  width: calc(100% - 2rem);
  padding: 1rem;
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: var(--extra-light);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  z-index: 1;
  transition: 0.3s;
}

.destination__card:hover .destination__details {
  bottom: 1rem;
}

.destination__title {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.destination__subtitle {
  font-size: 1rem;
  font-weight: 600;
}

.trip {
  background-color: var(--secondary-color);
}

.trip__container :is(.section__title, .section__subtitle, .view__all) {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.trip__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 4rem 0;
}

.trip__card {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.trip__details {
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
  background-color: var(--extra-light);
  cursor: pointer;
}

.rating {
  color: goldenrod;
}

.booking__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price span {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--text-light);
}

.book__now {
  padding: 0.5rem 1.5rem;
  color: var(--primary-color);
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 5rem;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.book__now:hover {
  color: var(--extra-light);
  background-color: var(--primary-color);
}

.gallary__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.gallary__col img {
  height: 35vh;
}

.gallary__col .first {
  height: 50vh;
}

.image__gallary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 90px;
  gap: 1rem;
}

.gallary__col {
  display: grid;
  place-content: center;
  gap: 1rem;
}

.gallary__col img {
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.gallary__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gallary__content > div {
  max-width: 400px;
}

.gallary__content .section__subtitle {
  margin-bottom: 2rem;
}

.subscribe {
  background-color: var(--secondary-color);
}

.subscribe__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.subscribe__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe__form form {
  width: 100%;
  max-width: 400px;
  display: flex;
  background-color: var(--extra-light);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
}

.subscribe__form input {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1rem;
}

.footer {
  background-color: var(--text-dark);
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  color: var(--secondary-color);
}

.footer__col img {
  width: 100px;
  height: 80px;
  margin-bottom: 10px;
}

.footer__col p {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.footer__col p:hover {
  color: var(--primary-color);
}

.footer__col p span {
  font-weight: 600;
}

.footer__col h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer__bar {
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  color: var(--secondary-color);
  border-top: 1px solid var(--text-light);
}

@media (width < 1200px) {
  .header__image img:nth-child(1) {
    max-width: 300px;
  }

  .header__image img:nth-child(2) {
    max-width: 200px;
  }
}

@media (width < 900px) {
  .nav__links {
    display: none;
  }

  .header__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .header__image {
    min-height: 500px;
  }

  .destination__grid {
    gap: 1rem;
  }

  .trip__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 600px) {
  .destination__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .trip__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallary__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .subscribe__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .header__image img:nth-child(2) {
    max-width: 180px;
    height: 50vh;
    transform: translate(0%, -25%);
  }
}


.mission-vision__container {
  background-color: var(--secondary-color);
  padding: 4rem 1rem;
}

.mission-vision__container .section__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.mission__content, .vision__content {
  flex: 1;
  min-width: 300px;
  text-align: left;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mission__content:hover, .vision__content:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.mission__content h2, .vision__content h2 {
  font-size: 1.8rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.mission__content p, .vision__content p {
  font-size: 1rem;
  color: var(--text-light);
  line-height: 1.6;
}

@media (max-width: 768px) {
  .mission-vision__container .section__container {
    flex-direction: column;
    gap: 1.5rem;
  }

  .mission__content, .vision__content {
    text-align: center;
  }
}

.contact {
  padding: 50px 0;
  background-color: var(--secondary-color);
}

.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact__content {
  text-align: center;
  margin-bottom: 30px;
}

.contact__form {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact__form .form__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.contact__form .form__group {
  width: 48%; 
}

.contact__form label {
  display: block;
  margin-bottom: 5px;
  color: var(--text-dark);
  font-weight: bold;
}

.contact__form input,
.contact__form select,
.contact__form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  color: var(--text-light);
  border-radius: 4px;
}

.contact__form button {
  width: 50%;
  margin: 0 auto;
  display: block;
  padding: 0.75rem 2rem;
  color: var(--primary-color);
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 5rem;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.contact__form button:hover {
  color: var(--extra-light);
  background-color: var(--primary-color);
}

.contact__form .form__group.full-width {
  width: 100%; 
}

.contact__form .form__group textarea {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .contact__form .form__row {
    flex-direction: column; 
  }

  .contact__form .form__group {
    width: 100%; 
    margin-bottom: 15px;
  }

  .contact__form .form__group.full-width {
    width: 100%; 
  }
}

.toast {
  visibility: hidden;
  max-width: 500px;
  background-color: #28a745;
  color: var(--secondary-color);
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  position: fixed;
  z-index: 999;
  right: 0;
  bottom: 10px; 
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.toast span {
  font-size: 1rem;
}

.toast.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s;
}

@media (max-width: 1300px) {
  nav {
    width: 90%;
  }
}

.error-message {
  font-size: 1rem;
  color: #d9534f;
  margin-top: 10px;
  text-align: center;
}

.terms-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  display: flex; 
}

.terms-popup-content {
  background-color: var(--extra-light);
  color: var(--text-dark);
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.terms-popup h2 {
  font-size: 1.6rem;
  margin-bottom: 15px;
}

.terms-popup p {
  font-size: 1rem;
  line-height: 1.6;
  margin: 8px 0;
  text-align: left;
}

label {
  font-size: 1rem;
  color: var(--text-dark);
  cursor: pointer;
  display: inline-block;
  margin-top: 15px;
  text-align: left;
  margin-left: 0; 
}

input[type="checkbox"] {
  margin-right: 10px;
  margin-left: 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.accept-btn {
  padding: 10px 15px;
  font-size: 1rem;
  color: var(--extra-light);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accept-btn {
  background-color: var(--primary-color);
  width: 50%;
  margin: 0 auto;
}

.accept-btn:hover {
  background-color: var(--primary-color-dark);
}

.accept-status {
  font-size: 1rem;
  color: #28a745;
  margin-top: 10px;
  display: none; 
}

input[type="checkbox"]:checked + label + .accept-status {
  display: block;
}

@media (max-width: 768px) {
  .terms-popup-content {
      width: 90%;
      padding: 15px;
  }

  .terms-popup h2 {
      font-size: 1.4rem;
  }

  .terms-popup p {
      font-size: 0.95rem;
  }

  .buttons {
      flex-direction: column;
      align-items: center;
  }

  .accept-btn,
  .decline-btn {
      width: 100%;
      margin: 5px 0;
      padding: 12px 20px;
  }

  .accept-status {
      font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .terms-popup-content {
      width: 95%;
      padding: 10px;
  }

  .terms-popup h2 {
      font-size: 1.2rem;
  }

  .terms-popup p {
      font-size: 0.9rem;
  }

  label {
      font-size: 0.9rem;
  }

  .accept-btn,
  .decline-btn {
      font-size: 0.9rem;
      padding: 10px 15px;
  }
}
